* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
  
html {
  height: 100%;
  overflow-x:hidden;
}



.parallax {
  display: flex;
  justify-content:center ;
  align-items: center;

  height: 100vh; 
  max-width: 100%;
  width: 100%;
   background-image: url("/image/kkk.jpg");
  background-size: 100% 200vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.text{
  height: auto;
  padding: 1em;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.57);
}

.container{
  height:auto;
  background-color:red;
}

@media (max-width: 768px){
  .parallax {
    background-size: 100% 100%; 
  }
}